




.appointment-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.appointment-form-container h2 {
  color: #3fbbc0;
  text-align: center;
  padding: 10px 5px 10px 0px;
  margin-bottom: 10px;
  font-size: 40px;
}


.appointment-form {
  display: grid;
  gap: 10px;
}

.form-group {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}
