body{
  text-align: center;
}

.appointment-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.appointment-form {
  max-width: 400px; 
  width: 100%;
}

.appointment-form-container .appointment-image {
  margin-right: 20px;
}

.appointment-form-container img {
  max-width: 100%;
  height: auto;
}

.appointment-form h2 {
  color: #3fbbc0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

.form-group {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}
